html, body{
	margin:0;
	padding:0;
	background:#000 url(../images/skewed_print.png);
}

body{
	font-size:12px;
	font-family:Verdana, Geneva, sans-serif;
	color:#FFF;
}

 a, a:visited {
    text-decoration: none;
	font-size:10px;
	color:#FFF;
	padding: 0 5px 0 5px;
}
 
a:hover {
    text-decoration: none;
	background:#FFF;
	color:#000;
	-moz-border-radius: 10px;
border-radius: 10px;
border-bottom:thin #F00 solid;
}

.container {
    margin-top: 50px;
	background:#000;
	-moz-box-shadow:    0 0 15px #000000;
   -webkit-box-shadow:  0 0 15px #000000;
   box-shadow:          0 0 15px #000000;
}

h1, h2, h3{
	font-family: 'Happy Monkey', Verdana, Geneva, sans-serif ;
	

}

h1{
	font-size:30px;
	margin-bottom:15px;
}

h2{
	font-size:25px;
}

h3{
	font-size:20px;
}


 
#nav {
     margin: 15px 0 10px
}

#nav ul{
	margin-left: -43px;
	}
 
#nav ul li {
    display: inline;
    margin: 0 20px 0 0;
 
}
 
#nav a, #nav a:visited {
    text-decoration: none;
	font-size:10px;
	color:#FFF;
}
 
#nav a:hover {
    text-decoration: none;
	background:#FFF;
	color:#000;
}
#headerImage img {
    margin-bottom: 50px;
    max-width: 100%;
    height: auto;
}

.feature img {
    margin-bottom: 15px;
    max-width: 100%;
    height: auto;
}

#footer{
	padding: 20px;
}

#footer p {
	width:900px;
	text-align:center;
}